.input_container {
    margin: 0 auto;
}

textarea {
    border: 1px solid black;
    margin: 20px;
}

h1 {
    text-align: center;
} 

button {
    padding:  10px;
    background: #9441e1;
    margin: 5px;
    color: white;


}