.input_container {
    margin: 0 auto;
}

.wrapper {
    margin-left: 10%;
}

textarea {
    border: 1px solid black;
}

h1 {
    text-align: center;
} 

button {
    padding:  10px;
    background: #9441e1;
    margin: 5px;
    color: white;
}

.result {
    color: red;
    font-size: 1.1em;
}